<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/static/comics.css">
</head>

<body>
    <header>
        <h1>Batman</h1>
    </header>

    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mi-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="mi-menu">
                <ul class="navbar-nav fs-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="/index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/Curso ICARO/template/personajes.html">Personajes</a>
                    </li>
                    <li>
                        <a class="nav-link disabled" href="/Curso ICARO/template/comics.html">Mas Comics</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/Curso ICARO/template/contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>

</html>