<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/static/comics.css">
</head>

<body>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque perferendis cum, in accusantium molestiae
        quos earum illum aliquid modi! Architecto, sapiente fugit! Pariatur, cupiditate. Repudiandae similique fugit ea
        eum quia.</p>
    <img src="https://acdn-us.mitiendanube.com/stores/001/184/069/products/absolute_batman_2da_cov-ee46505d7666908ea617558645476062-1024-1024.webp" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis nihil quos ea sed inventore, reiciendis eum rem itaque quia saepe! Qui est aperiam perferendis, tenetur dolorem nobis fuga? Alias!</p> -->

    <div class="cuadradito">
        
    </div>
</body>

</html>