<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/Curso ICARO/static/style.css">
</head>

<body>
    <header>
        <h1>Batman</h1>
    </header>
    <nav class="navegador">
        <a href="/Curso ICARO/template/index.html">Inicio</a>
        <a href="/Curso ICARO/template/personajes.html">Personajes</a>
        <a href="/Curso ICARO/template/comics.html">Mas Comics</a>
    </nav>

    <div class="presentacion">
        <div class="menu-lateral">
            <aside>
                <img class="img-portada"
                src="https://acdn-us.mitiendanube.com/stores/001/184/069/products/absolute_batman_2da_cov-ee46505d7666908ea617558645476062-1024-1024.webp"
                alt="">
                <ol>
                    <li><a href="#que-es-absolute-batman">Que es Absolute Batman</a></li>
                    <li><a href="#de-que-trata">¿De que trata?</a></li>
                    <li></li>
                    <li></li>
                </ol>
            </aside>
        </div>
        <div class="informacion">
            <article id="que-es-absolute-batman">
                <h2>¿Que es Absolute Batman?</h2>
                <p>Absolute Batman es una serie de cómics de DC Comics escrita por Scott Snyder e ilustrada por Nick
                    Dragotta,
                    que reinventa la historia de Batman en el sello Absolute Universe.
                    Publicación y Contexto
                    La serie comenzó a publicarse el 9 de octubre de 2024 como el primer título del sello editorial
                    Absolute
                    Universe (AU) de DC Comics. En España, la edición y distribución está a cargo de Panini Comics. La
                    serie
                    se
                    centra en un Bruce Wayne joven, de 24 años, trabajador de cuello azul e ingeniero civil, que combate
                    el
                    crimen en Gotham mientras es vigilado por un agente secreto, Alfred Pennyworth.
                </p>
            </article>

            <article id="de-que-trata">
                <h2>¿De que trata?</h2>
                <p>
                    La historia de Absolute Batman combina acción intensa con un enfoque más urbano y cercano a los
                    bajos
                    fondos. Bruce Wayne es presentado como un héroe de clase trabajadora que lucha contra una Gotham
                    corrupta y
                    controlada por una élite. La narrativa explora sus primeros pasos como justiciero, mostrando su
                    entrenamiento, motivaciones y conflictos internos, así como la relación con personajes clave como
                    Alfred,
                    Martha, Jim Gordon y Bullock.
                    Zona Negativa

                    En el primer número, Alfred Pennyworth regresa a Gotham tras años de ausencia para vigilar a un
                    grupo
                    terrorista llamado "Animales de Fiesta", mientras Bruce entrena en Crime Alley y recuerda la muerte
                    de
                    sus
                    padres. La serie mezcla elementos de espionaje, acción y drama personal, con un Batman más
                    canallesco y
                    cercano a la realidad urbana, pero heredero de la tradición del Caballero Oscuro.
                </p>
            </article>

            <article>
                <h2>Arcos Argumentales de Absolute Batman</h2>
                <ul>
                    <li>
                        <span>
                            <strong>El Zoo:</strong> Este arco introduce un Batman más rebelde y consciente social,
                            enfrentando la violencia y el caos en Gotham.
                            1
                        </span>
                    </li>
                </ul>
            </article>
        </div>
    </div>
    <br>




</body>

</html>