<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/Curso ICARO/static/personajes.css">
</head>

<body>
    <header>
        <h1>Batman</h1>
    </header>

    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mi-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="mi-menu">
                <ul class="navbar-nav fs-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/Curso ICARO/index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-link active" aria-current="page" href="/Curso ICARO/template/personajes.html">Personajes</a>
                    </li>
                    <li>
                        <a class="nav-link disabled" href="/Curso ICARO/template/comics.html">Mas Comics</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/Curso ICARO/template/contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>        
    </nav>
    
    <div class="container-fluid text-center">
        <h3>Personaje Principal</h3>
        <hr>
        <div class="row justify-content-center">
            <div class="ps-0 col col-11 col-sm-11 col-md-10 col-lg-10 col-xl-6">
                <img src="/Curso ICARO/assets/image/img-personajes/Batman.png" alt="Batman" class="img-fluid custom-img">
                <div id="principal">
                    <h2>Batman</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempore dolore tenetur
                        doloribus. Ullam magnam adipisci, quasi aut perferendis soluta in similique nobis labore
                        distinctio
                        optio eligendi sint! Repellat, error.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <h3>Villanos</h3>
        <hr>
        <div class="row justify-content-evenly mt-3">
            <div class="m-1 col col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 galery-villan">
                <img src="/Curso ICARO/assets/image/img-personajes/Joker.png" alt="Joker" class="img-fluid custom-img">
                <div id="villanos">
                    <h2>Joker</h2>
                    <p>El enigmático director ejecutivo de JK Holdings y uno de los treinta hombres más ricos del mundo.
                        Figura siniestra envuelta en misterio , el Joker es conocido principalmente por su apodo, que
                        irónicamente deriva del hecho de que aparentemente nunca se ríe de nada . Dirige un extenso pero
                        escurridizo sindicato del crimen responsable de gran parte de la delincuencia y la corrupción
                        que asolan Gotham City, y está detrás de la construcción de las Arcas, una serie de prisiones
                        que también funcionan como centros clandestinos de experimentación humana.</p>
                </div>
            </div>

            <div class="m-1 col col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 galery-villan">
                <img src="/Curso ICARO/assets/image/img-personajes/Bane.png" alt="Bane" class="img-fluid custom-img">
                <div id="villanos">
                    <h2>Bane</h2>
                    <p>Bane es el mejor asesino de la organización del Joker, y Deathstroke es el único que se acerca a
                        su nivel. Incluso sin tener en cuenta sus superpoderes, demuestra ser un artista marcial
                        superior a Batman y un estratega sumamente inteligente. Batman está completamente superado por
                        él y necesita reunir a todos sus aliados para derrotarlo.</p>
                </div>
            </div>

            <div class="m-1 col col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 galery-villan">
                <img src="/Curso ICARO/assets/image/img-personajes/Sr Freeze.webp" alt="Sr frezze" class="img-fluid custom-img">
                <div id="villanos">
                    <h2>Sr. Freeze</h2>
                    <p>Freeze normalmente no posee habilidades sobrehumanas reales; incluso su resistencia a las bajas
                        temperaturas conlleva una vulnerabilidad mortal a temperaturas superiores a cero. En esta
                        versión, despertó de la criogenización con poderes reales, como la capacidad de congelar con el
                        tacto. Además, es capaz de enfrentarse directamente a Batman, mientras que la mayoría de las
                        versiones dependen únicamente de su pistola congelante y del volumen de su traje.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <h3>Otros</h3>
        <hr>
        <div class="row justify-content-around mt-3">
            <div class="m-1 col col-11 col-sm-11 col-md-5 col-lg-3 col-xl-3 mas-personajes">
                <img src="/Curso ICARO/assets/image/img-personajes/Robins.png" alt="Robins" class="img-fluid custom-img">
                <div id="otros">
                    <h2>Robins</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor nesciunt distinctio dignissimos
                        libero
                        ipsa, rerum dolores nemo asperiores iusto cumque maxime sunt consequuntur, harum commodi quasi
                        molestiae
                        non obcaecati fugit.</p>
                </div>

            </div>

            <div class="m-1 col col-11 col-sm-11 col-md-5 col-lg-3 col-xl-3 mas-personajes">
                <img src="/Curso ICARO/assets/image/img-personajes/Dick grayson.png" alt="Dick Grayson" class="img-fluid custom-img">
                <div id="otros">
                    <h2>Dick Grayson</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, mollitia fuga! Eaque ullam
                        corrupti
                        itaque minima facere earum, sit minus, accusantium nisi, numquam impedit rem vero. Accusamus
                        totam
                        eaque
                        doloribus!</p>
                </div>
            </div>

            <div class="m-1 col col-11 col-sm-11 col-md-5 col-lg-3 col-xl-3 mas-personajes">
                <img src="/Curso ICARO/assets/image/img-personajes/Jason todd.png" alt="Jason Todd" class="img-fluid custom-img">
                <div id="otros">
                    <h2>Jason Todd</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat alias molestias, voluptates
                        officiis
                        quae provident? Cupiditate tempora recusandae autem adipisci veniam minima iste natus dicta,
                        assumenda,
                        exercitationem sapiente eos. Iure?</p>
                </div>
            </div>

            <div class="m-1 col col-11 col-sm-11 col-md-5 col-lg-3 col-xl-3 mas-personajes">
                <img src="/Curso ICARO/assets/image/img-personajes/Tim drake.png" alt="Tim Drake" class="img-fluid custom-img">
                <div id="otros">
                    <h2>Tim Drake</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat alias molestias, voluptates
                        officiis
                        quae provident? Cupiditate tempora recusandae autem adipisci veniam minima iste natus dicta,
                        assumenda, exercitationem sapiente eos. Iure?</p>
                </div>
            </div>

            <div class="m-1 col col-11 col-sm-11 col-md-5 col-lg-3 col-xl-3 mas-personajes">
                <img src="/Curso ICARO/assets/image/img-personajes/Stephanie Brown.png" alt="Stephanie Brown"
                    class="img-fluid custom-img">
                <div id="otros">
                    <h2>Stephanie Brown</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat alias molestias, voluptates
                        officiis
                        quae provident? Cupiditate tempora recusandae autem adipisci veniam minima iste natus dicta,
                        assumenda, exercitationem sapiente eos. Iure?</p>
                </div>
            </div>

            <div class="m-1 col col-11 col-sm-11 col-md-5 col-lg-3 col-xl-3 mas-personajes">
                <img src="/Curso ICARO/assets/image/img-personajes/Duke thomas.png" alt="Duke Thomas" class="img-fluid custom-img">
                <div id="otros">
                    <h2>Duke Thomas</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat alias molestias, voluptates
                        officiis
                        quae provident? Cupiditate tempora recusandae autem adipisci veniam minima iste natus dicta,
                        assumenda, exercitationem sapiente eos. Iure?</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer justify-content-around">
        <div class="footer-content">
            <p>
                <strong>&copy; 2026 Comic Toon</strong>
            </p>
        </div>
        <div class="social-icons fs-5">
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>