/* body{
    background-color: black;
    color: white;
} */

/* img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;

}


@keyframes imagen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}

img:hover{
    animation-name: imagen;
    animation-duration: 2s;
} */



@keyframes cuadrado{
    0%{
        background-color: red; 
        left: 0; 
        top: 0;
    }
    25%{
        background-color: blue;
        left: 200px;
        top: 0;
    }
    50%{
        background-color: green;
        left: 200px;
        top: 200px;
    }
    75%{
        background-color: yellow;
        left: 0px;
        top: 200px;
    }
}

.cuadradito{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: cuadrado;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}