body{
    margin: 0;
}
.grid-conteiner{
    display: grid;
    grid-template-areas:
     "header header"
     "aside main"
     "footer footer";
     grid-template-columns: 150px 1fr;
     grid-template-rows: 1fr;
}

header{
    grid-area: header;
    background-color: aqua;
}

aside{
    grid-area: aside;
    background-color: red;
    height: 80vh;
}

main{
    grid-area: main;
    background-color: blue;
}

footer{
    grid-area: footer;
    background-color: yellow;
    height: 5vh;
}