body {
    background-color: rgb(31, 31, 170);
}

header {
    text-align: center;
    
    /* height: 40px; */
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    /* height: 30px; */
}

nav a:hover {
    font-weight: bold;
}


a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

ol>li>a {
    color: wheat;
    padding-left: 0;
    padding-top: 3px;
}

ol {
    border: 1px p wheat;
    background-color: #f3e5e50a;
    color: yellow;
    padding-left: 1.3rem;
}

h1 {
    margin: 0px !important;
    color: blanchedalmond;
}

/* .container{
    margin: 0;
    width: 100%;
    display: flex;
} */

.contenedor-izquierdo{
    width: 50%;
    background-color: bisque;
}

input, textarea, select{
    display: block;
    width: 30%;
}


.footer {
    background-color: rgba(255, 255, 0, 0.699);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

p {
    margin-bottom: 0 !important;
    text-align: start;
    color: whitesmoke;
}

.bi-linkedin {
    color: #0e76a8;
}

.bi-facebook {
    color: #3b5998;
}

.bi-instagram {
    color: #E1306C
}