* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 31, 170);
}

header {
    text-align: center;
    height: 45px;
    background-color: black;
}

nav {
    display: flex;
    background-color: yellow;
    justify-content: center;
    /* align-items: center; */
}

nav a:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    padding: 10px;
}

h1 {
    color: blanchedalmond;
}

hr {
    border: 2px solid white;
}

.col {
    background-color: rgba(0, 0, 0, 0.267);
    border: 2px solid rgba(255, 255, 255, 0.226);
}

h3 {
    color: yellow;
    padding-top: 5px;
}

.col-xl-6 {
    display: flex;
}


#principal {
    margin: 5px;
}

#principal>h2,
h3 {
    text-align: left;
}

.container-fluid {
    margin-bottom: 40px;
}


.col-sm-11>img {
    padding: 8px;
    width: 15vh;
}

.galery-villan>img,
.mas-personajes>img {
    width: 80%;
    height: 35vh;
}



@media screen and (max-width : 576px) {

    .col-12>img {
        height: auto;
    }

    /* xs */
    .col-sm-11>img {
        margin-bottom: 5px;
        width: 20%;
    }

}

@media screen and (max-width : 768px) {

    .galery-villan,
    .mas-personajes {
        display: flex;
        padding-left: 0 !important;
        /* align-items: flex-start;
        justify-content: flex-end; */
    }

    .galery-villan>img,
    .mas-personajes>img {
        width: 20vh;
        /* height: 40%; */
        align-self: center;
        padding-top: 5px;
    }

    /* .galery-villan>#villanos,
    .mas-personajes>#otros {
        padding: 15px;
    } */

    .galery-villan>#villanos>h2,
    .mas-personajes>#otros>h2 {
        text-align: left;
    }

}

/* @media screen and (max-width : 1200px) {

    .galery-villan>img,
    .mas-personajes>img {
        width: 60%;
        height: 35vh;
    }
} */

h2 {
    padding-top: 3px;
    margin-bottom: 3px !important;
    color: black;
}

p {
    margin-bottom: 0 !important;
    text-align: start;
    color: whitesmoke;
}