body{
    background-color: rgb(31, 31, 170);
}

header{
    text-align: center;
    
    /* height: 40px; */
    background-color: black;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    /* height: 30px; */
}

nav a:hover{
    font-weight: bold;
}


a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

ol > li > a{
    color: wheat;
    padding-left: 0;
    padding-top: 3px;
}

ol{
    color: yellow;
    padding-left: 1.3rem;
}

h1{
    margin: 0px !important;
    color: blanchedalmond;
}

.presentacion{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
    height: auto;
}

.img-portada{
    padding: 5px;
    width: 100%;
}

.presentacion > .informacion{
    margin: 2px 2px;
}

.presentacion > .informacion p{
    text-align: justify;
    color: white;
}

article{
    margin: 5px;
}

article > p{
    color: white;
    padding: 5px;
    text-align: justify;
}

.footer {
    background-color: rgba(255, 255, 0, 0.699);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-content > p {
    margin-bottom: 0 !important;
    text-align: left;
}

.bi-linkedin{
    color: #0e76a8;
}

.bi-facebook{
    color: #3b5998;
}

.bi-instagram{
    color: #E1306C
}